In [16]:
import pandas as pd
import os
from os import path
import glob
import numpy as np
from nltk.corpus import stopwords
import nltk
from collections import Counter
import dask.dataframe as dd
import math

In [174]:
stopz = [word.split() for word in open("C:\\Users\\Ruben\\Documents\\Artikelen\\Joris\\stopwords-nl.txt", 'r', encoding = "utf-8").readlines()]

In [2]:
## Import Master DF
os.chdir("C://Users//Ruben//Documents//Scriptie//Data//bigrams//output")
df = dd.read_csv('total-bigrams.csv', dtype='str')

In [57]:
## Load Buitenlandsche Bigrams
bgdf = pd.read_csv('C://Users//Ruben//Documents//GitHub//TheForeign//SCC//output-data//bigrams_buitenlandsche.csv', encoding = 'utf-8')

In [77]:
def GetListWords(words_year):
    dwy = dict()
    
    for i in list(range(1,100)):
        tdf = bgdf.iloc[:,[0,i]]
        y = tdf.columns[1]
        tdf = tdf.sort_values([y], ascending = False)
        tdf = tdf.reset_index(drop = True)
        tdf = tdf.ngram[0:words_year-1]
        
        dwy.update({y:list(tdf)})
    return dwy

In [84]:
total_list = GetListWords(20).values()
total_list = list(set([item for sublist in total_list for item in sublist]))
total_list = [l for l in total_list if len(l) > 2]

In [108]:
def GetBigrams(input_list):
    subset = df[df['ngram'].str.split().str[1].isin(input_list)].compute()
    subset = subset.reset_index(drop=True)
    subset['count'] = subset['count'].astype(float)
    subset = subset.groupby(['ngram','year']).agg('sum')
    subset = subset.stack().reset_index().drop('level_2', axis = 1)
    subset.columns = ['ngram', 'year', 'count']
    subset = subset.dropna()
    subset = subset.pivot(index='ngram', columns='year', values='count')
    subset = subset.fillna(0)
    subset.columns = subset.columns.astype(str)
    
    return subset

In [109]:
dfr = GetBigrams(total_list)

In [177]:
def GetListAdjectives(input_df, freq_thres):
    dwy = dict()
    
    for i in list(range(1840,1914)):
        yl = list()
        tdf = input_df[input_df[str(i)] > freq_thres]
        for key,value in Counter(list(tdf.ngram.str.split().str[0])).items():
            if value > 10 and tag(key)[0][1] == 'JJ' and len(key) > 2 and key not in stopz:
                yl.append(key)
            
        
        dwy.update({i:yl})
    return dwy

In [179]:
lad = GetListAdjectives(dfr, 5)

In [180]:
lad_df = pd.DataFrame()

for key, value in lad.items():
    tmp = pd.DataFrame(value)
    tmp['year'] = key
    lad_df = lad_df.append(tmp)

In [181]:
lad_df

                 0  year
0   buitenlandsche  1840
1          dezelve  1840
2        engelsche  1840
3         fransche  1840
4           geheel  1840
5           nieuwe  1840
6          vreemde  1840
0   buitenlandsche  1841
1          dezelve  1841
2           eenige  1841
3           geheel  1841
4           nieuwe  1841
5          overige  1841
6          vreemde  1841
0   buitenlandsche  1842
1        engelsche  1842
2         fransche  1842
3           nieuwe  1842
4          vreemde  1842
0   buitenlandsche  1843
1           eenige  1843
2           geheel  1843
3           nieuwe  1843
4          overige  1843
5        spaansche  1843
6          vreemde  1843
0   buitenlandsche  1844
1           eenige  1844
2        engelsche  1844
3         fransche  1844
..             ...   ...
24             ver  1912
25         vreemde  1912
26           zeker  1912
0    amerikaansche  1913
1   binnenlandsche  1913
2   buitenlandsche  1913
3         dadelijk  1913
4         duitsche  1913
5           eenige  1913
6        engelsche  1913
7      europeesche  1913
8         fransche  1913
9           geheel  1913
10         geheele  1913
11            goed  1913
12           goede  1913
13          groote  1913
14        indische  1913
15           juist  1913
16          kleine  1913
17            lang  1913
18        mogelijk  1913
19      natuurlijk  1913
20   nederlandsche  1913
21          nieuwe  1913
22         overige  1913
23            vast  1913
24             ver  1913
25         vreemde  1913
26           zeker  1913

[1281 rows x 2 columns]